JIRA_URL=https://yourcompany.atlassian.net
JIRA_EMAIL=you@company.com
JIRA_API_TOKEN=<from Atlassian API Tokens page>
JIRA_PROJECT_KEY=ENG
JIRA_STORY_POINTS_FIELD=customfield_10016
JIRA_STALENESS_THRESHOLD_DAYS=3
JIRA_IGNORE_LABEL=sanity-ignore
TEAMS_WEBHOOK_URL=<from Teams incoming webhook connector>
SLACK_WEBHOOK_URL=
GITHUB_TOKEN=
GITHUB_REPO=owner/repo
AWS_REGION=us-east-1
